@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@font-face {
  font-family: Monument800;
  src: url(../font/Monument\ Extended\ Ultrabold\ 800.otf),
    url(https://valdisnei.vercel.app/_next/static/media/Monument%20Extended%20Regular%20400.41c61de7.otf);
  font-weight: 800;
  font-display: fallback;
}

@font-face {
  font-family: Monument400;
  src: url(../font/Monument\ Extended\ Regular\ 400.otf),
    url(https://valdisnei.vercel.app/_next/static/media/Monument%20Extended%20Ultrabold%20800.b33587e5.otf);
  font-weight: 400;
  font-display: fallback;
}

/* RESET */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* FIM RESET */

.corpoSite{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:rgb(12, 12, 12);

}

.main{
  width:100%; 
  padding:1rem 8rem;
  color:#fff;
  font-family: var(--font-principal);
}

.segundaSection{
  width:100%; 
  padding:1rem 8rem;
  font-family: var(--font-principal);
  background: #fff;
}

@media (max-width:750px){
  .main{
    padding:1rem 3rem;
  }
  .segundaSection{
    padding:1rem 3rem;
  }
}

@media (max-width:350px){
  .main{
    padding:1rem
  }

  .segundaSection{
    padding: 1rem;
  }

}

.whatsapp{
  position:fixed;
  top:3rem;
  right:5%;
  z-index:1000
}

.subtitulo{
  font-family:Monument800;
  font-style:normal;
  font-weight:800;
  font-size:1.1rem;
  line-height:1.5rem;
  letter-spacing:.0125rem;
  width:13.75rem;
  background:linear-gradient(92.33deg,#DFFFD7 10.39%,#FF82A7 55.67%);
  background-clip:border-box;
  -webkit-background-clip:text;-webkit-text-fill-color:transparent;
  margin-bottom:.875rem
}

/* BLUR E LINHA*/

.ellipse1{
  position:absolute;
  width:35.9375rem;
  height:38.75rem;
  left:10%;top:0;
  background:linear-gradient(292.39deg,rgba(13,251,208,0.2) -16.4%,rgba(13,165,251,0.2) 73.45%);filter:blur(7.375rem)
}
.ellipse2{
  position:absolute;
  width:25.9375rem;
  height:38.75rem;
  left:60%;top:50%;
  background:linear-gradient(292.39deg,rgba(13,251,208,0.2) -16.4%,rgba(13,165,251,0.2) 73.45%);
  filter:blur(9.375rem)
}
.ellipse3{
  position:absolute;
  width:25.9375rem;
  height:28.75rem;
  left:40%;top:20%;
  background:rgba(255,185,186,0.2);
  filter:blur(6.25rem)
}
.ellipse4{
  position:absolute;
  width:35.9375rem;
  height:28.75rem;
  left:38%;top:0;
  background:linear-gradient(292.39deg,rgba(13,251,208,0.2) -16.4%,rgba(13,165,251,0.2) 73.45%);filter:blur(8.375rem)
}

.linha1{
  border:1px solid;
  width:18.75rem;
  margin-top:-200px;
  background:linear-gradient(#222,#222),linear-gradient(to right,rgba(103,255,219,0.41) -20.44%,rgba(0,0,0,0) 134.61%);
  background-origin:padding-box,border-box;
  background-repeat:no-repeat;
  border:1px solid transparent;
  margin-left:1rem
}

.linha2{
  border:1px solid;
  margin-top:200px;
  width:300px;
  margin-left:60%;
  background:linear-gradient(#222,#222),linear-gradient(to right,rgba(103,255,219,0.41) -20.44%,rgba(0,0,0,0) 134.61%);
  background-origin:padding-box,border-box;
  background-repeat:no-repeat;
  border:1px solid transparent
}

.linha3{
  border:1px solid;
  margin-top:10px;
  width:300px;
  margin-left:30%;
  margin-bottom:90px;
  background:linear-gradient(#222,#222),linear-gradient(to right,rgba(103,255,219,0.41) -20.44%,rgba(0,0,0,0) 134.61%);
  background-origin:padding-box,border-box;
  background-repeat:no-repeat;
  border:1px solid transparent
}

.linha4{
  border:1px solid;
  margin-top:10px;
  width:300px;
  margin-left:50%;
  margin-bottom:90px;
  background:linear-gradient(#222,#222),linear-gradient(to right,rgba(103,255,219,0.41) -20.44%,rgba(0,0,0,0) 134.61%);
  background-origin:padding-box,border-box;background-repeat:no-repeat;border:1px solid transparent
}


@media (max-width: 1000px){
  .ellipse2{
    left:60%;
    top:10%;
    height:10rem
  }
  .ellipse3{
    left:30%;
    top:10%
  }
  .ellipse4{
    height:10rem;
    left:8%;
    top:0
  }
  .linha3{
    margin-top:0;
    margin-left:20%;
    margin-bottom:40px
  }
}

@media (max-width: 750px){
  .ellipse1{
    position:absolute;
    width:25.9375rem;
    height:18.75rem;
    left:0;
    top:0
  }
  .ellipse2{
    position:absolute;
    width:15.9375rem;
    height:18.75rem;
    left:0;
    top:30%;
    background:linear-gradient(292.39deg,rgba(13,251,208,0.2) -16.4%,rgba(13,165,251,0.2) 73.45%);
    filter:blur(9.375rem)
  }
  .ellipse3{
    display:none;
    position:absolute;
    width:25.9375rem;
    height:28.75rem;
    left:40%;top:20%;
    background:rgba(255,185,186,0.2);
    filter:blur(6.25rem)
  }
  .ellipse4{
    position:absolute;
    width:10.9375rem;
    height:28.75rem;
    left:5%;
    top:0;
    background:linear-gradient(292.39deg,rgba(13,251,208,0.2) -16.4%,rgba(13,165,251,0.2) 73.45%);
    filter:blur(5.375rem)
  }

  .linha1{
    width:12.25rem;
    margin-left:1.5rem
  }
  .linha2{
    width:12.25rem;
    margin-left:5rem
  }
  .linha3{
    margin-top:3rem;
    width:12.25rem;
    margin-left:30%;
    margin-bottom:3rem;
  }

  .linha4{
    margin-top:.625rem;
    width:12.5rem;
    margin-left:30%;
    margin-bottom:3rem
  }
}


@media (max-width:350px){
  .ellipse1{
    position:absolute;
    width:15rem;
    height:18.75rem;
    left:0;
    top:0;
    filter:blur(5.375rem)
  }
  .ellipse2{
  display: none;
  }

}
/* BLUR E LINHA FIM */





/* EFEITOS */
.ativo {
  display: block !important;
  opacity: 0;
  animation: ativo 1s forwards;
}

@keyframes ativo {
  to {
    opacity: 1;
    background-color: rgb(51, 51, 51);
    border-radius: .5rem;
    transform: initial;
  }
}

.animaRotate {
  transform: rotate(360deg);
  animation: animaRotate 20s forwards;
}

@keyframes animaRotate {
  to {
    transform: initial;
  }
}

.animaLeft {
  transform: translatex(100vh);
  animation: animaLeft 1s forwards;
}

@keyframes animaLeft {
  to {
    transform: initial;
  }
}

.animaBlur {
  opacity: 0;
  animation: animaBlur 3s forwards;
}

@keyframes animaBlur {
  to {
    opacity: 1;
    transform: initial;
  }
}

.animaNome {
  opacity: 0;
  animation: animaNome 2s forwards;
}

@keyframes animaNome {
  to {
    opacity: 1;
    transform: initial;
  }
}

.active {
  transition: 1s;
  transform: rotate(90deg);
  background-color: #fff !important;
  box-shadow: 0 -8px #fff, 0 8px #fff !important;
}

.menuDisplay {
  display: block !important;
  animation: menuDisplay 1s forwards !important;
}

@keyframes menuDisplay {
  to {
    opacity: 1;
    transform: initial;
  }
}

/* FIM EFEITOS */