.home {
  max-width: 1250px;
  margin: 0 auto;
}
.tituloContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 300;
}
.tituloContainer h2 {
  margin-top: 9.25rem;
  font-family: Monument400;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  max-width: 18.75rem;
  text-align: left;
  background: linear-gradient(92.33deg, #dfffd7 10.39%, #ff82a7 55.67%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tituloContainer h1 {
  width: 60.25rem;
  font-family: Monument800;
  font-style: normal;
  font-weight: 800;
  font-size: 10rem;
  text-align: right;
  margin: 0;
  color: #fff;
}
.chamadaContato {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.introducao {
  width: 445px;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 26px;
  letter-spacing: 0.2px;
}

@media (max-width: 1000px) {
  .tituloContainer div {
    max-width: 18.75rem;
  }
  .tituloContainer h2 {
    margin-top: 5rem;
  }
  .tituloContainer h1 {
    width: 30rem;
    font-size: 4rem;
  }
  .chamadaContato p {
    width: 18.75rem;
    font-size: 0.875rem;
    line-height: 1.2rem;
  }
  .chamadaContato button {
    font-size: 0.875rem;
    line-height: 1rem;
    width: 10.75rem;
    height: 2.5rem;
    margin-top: 1.6875rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 750px) {
  .whatsapp {
    position: fixed;
    top: 4.1875rem;
    right: 0.6375rem;
    z-index: 100;
  }
  .subtitulo {
    font-size: 1rem;
    margin-bottom: 0.875rem;
  }
  .home {
    width: 17rem;
  }
  .tituloContainer h2 {
    margin-top: 7.25rem;
    padding: 0.3rem;
  }
  .tituloContainer h1 {
    max-width: 17rem;
    font-size: 2.8rem;
  }
  .chamadaContato {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chamadaContato p {
    width: 14.625rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    align-self: center;
    color: rgba(255, 255, 255, 0.8);
    z-index: 50;
  }
  .chamadaContato button {
    width: 13.375rem;
    height: 3.75rem;
    z-index: 50;
  }
}
@media (max-width: 350px) {
  .main {
    padding: 1rem;
  }
  .formCont {
    padding: 1rem;
  }
  .nomeArte2 {
    width: 17rem;
    font-size: 2.5rem;
  }
}
