.main {
  min-height: 100vh;
  padding: 2rem 1rem;
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: #000;
  color: #fff;

}



.subtitulo{
	font-family: Monument800;
	font-style: normal;
	font-weight: 800;
	font-size: 1.1;
	line-height: 24px;
	letter-spacing: 0.2px;
	width: 220px;
	background: linear-gradient(92.33deg, #DFFFD7 10.39%, #FF82A7 105.67%);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 14px;
}


.header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2B2639;
}

.header ul li{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0 23px;
  margin-bottom: 2.5rem;
	cursor: pointer;
  
}

.ellipse1{
  position: absolute;
	width: 415px;
	height: 300px;
	left: 10%;
	top: 0;
	background: linear-gradient(292.39deg, rgba(13, 251, 208, 0.2) -16.4%, rgba(13, 165, 251, 0.2) 73.45%);
	filter: blur(150px);
}

.ellipse2{
  position: absolute;
	width: 415px;
	height: 300px;
	left: 50%;
	top: 50%;
	background: linear-gradient(292.39deg, rgba(13, 251, 208, 0.2) -16.4%, rgba(13, 165, 251, 0.2) 73.45%);
	filter: blur(150px);
}

.ellipse3{
  position: absolute;
	width: 415px;
	height: 300px;
	left: 40%;
	top: 20%;
  background: rgba(255, 185, 186, 0.2);
	filter: blur(100px);
}

.ellipse4{
  position: absolute;
	width: 415px;
	height: 300px;
	left: 50%;
	top: 50%;
	background: linear-gradient(292.39deg, rgba(13, 251, 208, 0.2) -16.4%, rgba(13, 165, 251, 0.2) 73.45%);
	filter: blur(150px);
}

@media (max-width: 900px) {
  .ellipse4{
		left: 20%;
	}
	.ellipse2{
		left: 20%;
	}

	.ellipse3{
		margin-left: 0;
	}
}


.home{
  max-width: 1400px;
  margin: 0 auto;
}



.tituloContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;

}

.tituloContainer h2{
  margin-top: 148px;
	font-family: Monument400;
	font-style: normal;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.875rem;
	letter-spacing: 1px;
	padding: 11px 33px;
	background: #0B3344;
	max-width: 300px;
	border-radius: 1rem;
	background: linear-gradient(#222, #222), 
	linear-gradient(272.92deg, rgba(103, 255, 219, 0.41) -20.44%, rgba(0, 0, 0, 0) 134.61%);
	background-origin: padding-box, border-box;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	text-align: center;

}

@media (max-width: 1000px) {
  .tituloContainer h2{
		font-size: 0.75rem;
		line-height: 0.875rem;
		padding: 5px 20px;
		background: #0B3344;
		max-width: 200px;
	
	}
}

.tituloContainer h1{
	width: 60.25rem;
	font-family: Monument800;
	font-style: normal;
	font-weight: 800;
	font-size: 10rem;
	text-align: right;
  margin: 0;
}
@media (max-width: 1000px) {
  .tituloContainer h1{
		width: 40.25rem;
		font-size: 6rem;
	}
}


.linha1{
  border: 1px solid;
	width: 300px;
  margin-top: -200px;
	background: linear-gradient(#222, #222), 
	linear-gradient(to right, rgba(103, 255, 219, 0.41) -20.44%, rgba(0, 0, 0, 0) 134.61%);
	background-origin: padding-box, border-box;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	margin-left: 1rem;
}

.linha2{
	border: 1px solid;
	margin-top: 200px;
	width: 300px;
	margin-left: 60%;

	background: linear-gradient(#222, #222), 
	linear-gradient(to right, rgba(103, 255, 219, 0.41) -20.44%, rgba(0, 0, 0, 0) 134.61%);
	background-origin: padding-box, border-box;
	background-repeat: no-repeat;
	border: 1px solid transparent;

}

.chamadaContato{
	font-family: 'Inter', sans-serif;
	font-style: normal;
}

.chamadaContato p{
	width: 445px;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 26px;
	letter-spacing: 0.2px;
}

.chamadaContato button{
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #050509;
	width: 214px;
	height: 60px;
	border-radius: 8px;
	margin-top: 27px;
	margin-bottom: 162px;
	border: none;
	cursor: pointer;
}

.quemSou{
  display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
}


.quemSouTexto p {
	width: 430px;
  font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.2px;
}


.quemSouTexto span{
	color: #FC8CAB;
}

.redes{
  display: flex;
	width: 445px;
}
.redes div{
  padding: 5px ;
  margin-right: 25px;
  cursor: pointer;
}

.textoCirculo{
  position: absolute;
}

.nomeArte{
	font-family: Monument800;
	font-style: normal;
	font-weight: 800;
	font-size: 289px;
	line-height: 347px;
	letter-spacing: 0.2px;
	opacity: .08;
	text-align: right;
}

.linha3{
	border: 1px solid;
	margin-top: 10px;
	width: 300px;
	margin-left: 30%;
	margin-bottom: 90px;
	background: linear-gradient(#222, #222), 
	linear-gradient(to right, rgba(103, 255, 219, 0.41) -20.44%, rgba(0, 0, 0, 0) 134.61%);
	background-origin: padding-box, border-box;
	background-repeat: no-repeat;
	border: 1px solid transparent;
}

.containerProj{
  display: flex;
  justify-content: space-evenly;
  position: relative;

}

.ProjetosCont{
  width: 530px;
  height: auto; 
  background: #100D18;
  border-radius: 8px;
  margin-top: 1rem;
  border-radius: 1rem;
	background: linear-gradient(#222, #222), 
	linear-gradient(to bottom, rgba(103, 255, 219, 0.41) -20.44%, rgba(0, 0, 0, 0) 134.61%);
	background-origin: padding-box, border-box;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	margin-left: 1rem;
	margin-right: 1rem;
}

.imgProjeto{
  margin: 25px 45px;
}

.textoProjeto{
  margin: 25px 45px;
}

.textoProjeto div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textoProjeto h3{
  font-family: Monument800;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

.textoProjeto p {
  
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 26px;
	letter-spacing: 0.2px;
	color: rgba(255, 255, 255, 0.9);
}

.textoProjeto a{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #2ACFDA;
  padding-bottom: 1rem;
  border-bottom: 1px solid;

}

.tecnologias{
  margin-top: 150px;
  position: relative;

}

.tecnologiasDiv{
  display: flex;
	flex-wrap: wrap;

}

.tecnologias p{
  width: 445px;
  font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.2px;
}

.listaTec{
  text-align: left;
  max-width: 300px;
	-webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin-left: 50px;
}

.listaTec li{
  padding: 10px;
  font-size: 1.5rem;
}



.nomeArte2{
	font-family: Monument800;
	font-style: normal;
	font-weight: 800;
	font-size: 5rem;
	letter-spacing: 0.2px;
	opacity: .08;
	text-align: right;

}

.linha4{
	border: 1px solid;
	margin-top: 10px;
	width: 300px;
	margin-left: 50%;
	margin-bottom: 90px;
	background: linear-gradient(#222, #222), 
	linear-gradient(to right, rgba(103, 255, 219, 0.41) -20.44%, rgba(0, 0, 0, 0) 134.61%);
	background-origin: padding-box, border-box;
	background-repeat: no-repeat;
	border: 1px solid transparent;
}

.faqPerguntas {
	background: linear-gradient(#111, #111), 
	linear-gradient(to bottom, rgba(103, 255, 219, 0.41) -20.44%, rgba(0, 0, 0, 0) 134.61%);
	background-origin: padding-box, border-box;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	margin-left: 1rem;
	margin-right: 1rem;
	border-radius: .5rem;
}

.faqPerguntas > div{
	padding: .2rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
}

.faqPerguntas dt{
	padding: .2rem;
  font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.2px;
	cursor: pointer;
}

.faqPerguntas dt::after{
	content: "↴";
	margin-left: 2rem;
}

.faqPerguntas dd {
	margin-left: 2rem;
  font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.2px;
  transition: 1s;

}

.faqPerguntas span{
	text-decoration: line-through;
}









.formCont{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 0;
  max-width: 1400px;
  margin: 0 auto;

}


.textForm h2 {
  width: 620px;
	font-family: Monument400;
	font-weight: 400;
	font-size: 72px;
	line-height: 115px;
	letter-spacing: -5px;
	background: linear-gradient(270.57deg, #E7B2AB -47.05%, #7B83CA 142.32%);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.textForm p{
  width: 419px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.2px;
	color: rgba(26, 26, 37, 0.8);
	text-align: left;
}

.containerformulario{
  display: flex;
  justify-content: center;
}
.formulario{
	display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.formulario input, .formulario select{
	font-family:'DM Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.2px;
	color: #37424D;
	padding: 1rem;
	border: none;
	background: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	width: 393px;

}

.formulario input:hover, .formulario select:hover, .formulario input:focus, .formulario select:focus{
	outline: none;
	
}

.formulario input:focus, .formulario select:focus{
	border-color: #E7B2AB;
}



.formulario button {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color:#fff;
	width: 214px;
	height: 60px;
	border-radius: 8px;
	margin-top: 27px;
	border: none;
	cursor: pointer;
	background: #000;
	margin-bottom: 1rem;
}

.contatos>p{
	font-family: DM Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.2px;
}

.contatos div{
  margin-top: .5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;

}

.contatos>div p{
  font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.2px;
}

.footer{
  display: flex;
	max-width: 1400px;
	margin: 0 auto;
	justify-content: space-between;

}

.footer p{
  font-family: DM Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 0.2px;
	padding: 65px;
	text-align: right;
}

.footer h2{
  font-family: Monument800;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 0.2px;
	padding: 65px;
}

.footer span{
	font-family: Monument800;

}


/* anti span */
.nao{
	visibility: hidden;
	position: absolute;
	height: 0px;
}

/* anti span */


@media (max-width: 1000px) {
  
}

