.quemSou {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.quemSouTexto p {
  width: 430px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
}
.quemSouTexto span {
  color: #fc8cab;
}
.redes {
  display: flex;
  width: 445px;
  align-items: center;
  font-size: 25px;
  color: #fc8cab;
}
.redes div {
  padding: 5px;
  margin-right: 25px;
  cursor: pointer;
}

.textoCirculo {
  position: absolute;
}
.nomeArte {
  font-family: Monument800;
  font-weight: 800;
  font-size: 20rem;
  opacity: 0.2;
  text-align: right;
  position: relative;
  z-index: 2;
  background: linear-gradient(110deg, #fff 10%, #555 75%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1000px) {
  .quemSouTexto p {
    width: 18.75rem;
    font-size: 0.875rem;
    line-height: 1.425rem;
    letter-spacing: 0.2px;
  }
  .textoCirculo {
    right: 4rem;
  }
}
@media (max-width: 750px) {
  .quemSouTexto p {
    max-width: 17.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
  }
  .redes {
    max-width: 10rem;
  }
  .redes div {
    padding: 0.3125rem;
    margin-right: 0.9375rem;
    cursor: pointer;
  }
  .textoCirculo {
    position: relative;
    left: 1rem;
    width: 5rem;
    margin-top: 1rem;
  }
  .nomeArte {
    font-size: 8rem;
    margin-top: -100px;
  }
}
