.tecnologias {
  margin-top: 150px;
  position: relative;
}
.tecnologiasDiv {
  display: flex;
  flex-wrap: wrap;
}
.tecnologias p {
  width: 445px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin-right: 50px;
}
.listaTec {
  text-align: left;
  max-width: 300px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  font-family: Inter;
}
.listaTec li {
  padding: 10px;
  font-size: 1.5rem;
}
.nomeArte2 {
  font-family: Monument800;
  font-style: normal;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 0.2px;
  opacity: 0.2;
  text-align: right;
  position: relative;
  z-index: 2;
  text-shadow: 0 0 8px hsl(0 0% 70% / 1), 0 0 120px;
}
@media (max-width: 1000px) {
  .tecnologias {
    margin-top: 5rem;
    position: relative;
  }
  .tecnologiasDiv {
    display: flex;
    flex-wrap: wrap;
  }
  .tecnologias p {
    width: 18.75rem;
    font-size: 0.875rem;
    line-height: 1.4rem;
  }
  .listaTec li {
    padding: 0.5rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 750px) {
  .tecnologias {
    margin-top: 3rem;
    position: relative;
  }
  .tecnologiasDiv {
    display: flex;
  }
  .tecnologias p {
    margin-right: 0;
    max-width: 17.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    z-index: 50;
  }
  .listaTec {
    text-align: left;
    width: 100%;
    padding: 0;
    z-index: 50;
  }
  .listaTec li {
    padding: 0.3rem;
    font-size: 1.2rem;
  }
  .nomeArte2 {
    max-width: 18rem;
    font-size: 2.8rem;
    text-align: left;
    z-index: 50;
  }
}
@media (max-width: 350px) {
  .nomeArte2 {
    width: 17rem;
    font-size: 2.5rem;
  }
}
